@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
/* Или можно использовать Exo 2 */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    -webkit-touch-callout: none; 
    -webkit-user-select: none;   
    -khtml-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;     
    user-select: none;

    --app-color: #FF8000;

    @apply p-0 m-0 min-w-0;
  }

  html, :root, body {
    @apply text-white bg-black;
    font-family: 'Montserrat', sans-serif; /* Или 'Exo 2' */
    font-weight: 800; /* extrabold */
    line-height: 1; /* leading-none */
    
    height: 100%;
    width: 100%;
    overflow-x: hidden; /* Отключаем горизонтальную прокрутку */
    
    /* Фоновое изображение */
    background-image: url('/whattapcoinmin.gif'); /* Путь к вашему фоновому изображению */
    background-size: cover; /* Покрыть весь экран */
    background-position: center; /* Центрируем картинку */
    background-attachment: fixed; /* Закрепляем картинку на фоне */
    background-repeat: no-repeat; /* Не повторяем картинку */
  }
}
